@import "./normalize.less";

body {
	background-color: @background;
}

p, a, span, h1, h2, h3, h4, h5, h6, li {
	color: @primary-text;
	font-family: @font-family;
	text-decoration: none;
	margin: 0;
}

button {
	font-family: @font-family;
	cursor: pointer;
}

h1 {
	.h1();
}

h2 {
	.h2();
}

p {
	.regular-text();
	margin-top: @spacing-2;
	margin-bottom: @spacing-2;
}

.primary-button {
	.bold();
	padding: @spacing-1 @spacing-3;
	border-radius: 4px;
	border: 2px solid @primary-green;
	background-color: transparent;
	color: @primary-green;

	&--big {
		.large-text();
		.bold();
	}
}

.cnm-link {
	.cnm-link();
}

.font-green-accent {
	color: @primary-green;
}

.font-blue-accent {
	color: @primary-blue;
}

.bold {
	.bold();
}

.thin {
	.thin();
}

.container {
	display: flex;
	justify-content: center;
	padding: @spacing-4;

	.content {
		max-width: 1200px;
	}
}

// prevent animations on initial pageload
.about__bg-img {
	opacity: 0;
}
